
# dependencies
node_modules

# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast/*/31337/
/broadcast/**/dry-run/

# Ignore all other deployments while in development
deployments/

# Docs
docs/

# Dotenv file
.env
localhost.json

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist

# stored files
reference/
data/